body{
  background-color: #faf3f3;
}
h1{
  color: #66BFBF;
}

h3{
 color: #66BFBF;
}
hr{
  border-style: none;
  border-top: dotted;
  border-color: #d1d9d9;
  border-width: 5px;
  width:5%;

}
